html {
  scroll-behavior: smooth;
}

* {
  /* margin: 0; */
  margin-left: 0px;
  margin-right: 0px;
}

/* @font-face {
  font-family: 'Gilroy';
  src: local('Gilroy') url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: lighter;
} */

/* body { */
/* font-family: 'Poppins', 'Open Sans', sans-serif; */
/* font-size: 100; */
/* } */

/* Main container */

/* Header */
.nav-link.active {
  color: #009933;
}

.nav-link {
  color: #596271;
}

.navbar-nav li {
  padding: 0 10px;
}

@media only screen and (max-width: 768px) {
  .navbar-nav li {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar-nav li {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-nav li {
    padding: 0 25px;
  }
}

.merchant-button {
  background-color: #009933;
  color: white;
  /* border-radius: 15px; */

  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.9rem;
  font-weight: normal;
  background-color: #009933;
  color: white;
}

.navbar-toggler {
  border: 0px solid #009933;
  border-color: #009933;
}

/* .navbar-toggler-icon{
    color: #009933 !important;
    visibility: visible !important;
    border-color: #009933;
}
   */

.drop-down-menu-custom-1 {
  width: 200px !important;
}

#dropdown-basic-1.dropdown-toggle.btn {
  margin-left: -15px !important;
}

.clickable:hover {
  cursor: pointer;
  transition: transform 200ms linear;
}

.clickable:hover {
  cursor: pointer;
  transform: scale(0.98);
}

/* Top content  */
.top-section,
.stores-section,
.merchant-section,
.rewards-section,
.wallet-section,
.app-stores-section,
.newsletter-section,
.page-section {
  padding-left: 40px;
  padding-right: 40px;
}

.page-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.career.top-section {
  margin-bottom: 10px;
}

.career.top-section input {
  border: none;
  background-color: transparent;
  color: #333;
  border-bottom: 2px solid #777;
}

.about-career .card {
  border: none;
  background-color: #e9e2d8;
  max-width: 545px;
}

.about-career .card .card-title {
  font-weight: 700;
}

.about-career .card img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.about-career .card .card-text {
  font-weight: 600;
  color: #596271;
}

.carousel .carousel-item img {
  height: 30vmax;
  max-height: 400px;
  object-fit: cover;
}

.carousel button[class^='carousel-control'] {
  background-color: #009933;
  width: 50px;
  height: 100px;
  /* border-radius: 50% !important; */
  top: 42%;
  /* border: 2px solid red; */
  transform: translateY(-50%);
}

.carousel-indicators [data-bs-target] {
  background-color: #009933;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.carousel-indicators [data-bs-target]:not([class='active']) {
  opacity: 0.2;
}

.wallet-section.reward-page {
  background-color: #f1f0f5;
  margin-top: 0px;
}

.wallet-section {
  background-color: #f1f0f5;
  /* margin-top: 35px; */
}

.deals-section h1,
.packages-section h1,
.testimonial-section h1,
.page-section h1 {
  color: #009933;
  font-weight: 900;
  text-align: center;
}

.green-text {
  color: #009933;
}

.font-weight-700 {
  font-weight: 700;
}

[class$='-section'] .subtitle {
  /* font-weight: 600 !important; */
  line-height: 1.4;
  max-width: 700px;
  color: #777;
  font-size: 18px;
}

.price,
.striked-price {
  position: relative;
}

.price {
  font-size: 1.5rem;
}

.striked-price::after {
  content: '';
  position: absolute;
  border: 1px solid orange;
  border-radius: 3px;
  width: calc(100% - 4px);
  top: calc(50% - 2px);
  left: 0%;
}

.product-name {
  color: rgb(80, 92, 119);
  line-height: 1.3;
  font-size: 1.3rem;
}

.deals-section {
  /* padding-top: 40px; */
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 50px;
  /* margin-top: 50px; */
}

.deals-section.reward-page {
  /* margin-top: 30px; */
  /* margin-bottom: 50px; */
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f0f5;
}

.deals-section.reward-page img {
  width: 90%;
}

.innovative-images {
  background-color: #faf8f6;
  padding: 30px;
  margin-bottom: 70px;
  border-radius: 30px;
}

@media only screen and (max-width: 768px) {
  /* .deals-section.reward-page {
  } */

  .innovative-images {
    background-color: #faf8f6;
    padding: 5px;
    margin-bottom: 70px;
    border-radius: 30px;
  }

  .deals-section.reward-page img {
    width: 100%;
  }
}

.deals-section .capture-button {
  margin-top: 10px;
  text-align: center;
}

.deals-section .badge {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 13px;
  margin-top: 25px;
  width: 13px;
  height: 13px;
}

.packages-section,
.testimonial-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.packages-section {
  margin-top: -16rem;
}

.packages-section h2 {
  font-weight: 700;
  color: #606060;
}

.packages-section .card {
  border-radius: 5px;
  min-width: 220px;
  max-width: 400px;
  border: none;
  box-shadow: 2px 4px 12px rgba(234, 234, 234, 0.85);
}

.testimonial-section {
  background-color: #f1f0f5;
}

.testimonial-section .card {
  border: none;
  min-width: 200px;
  max-width: 400px;
  box-shadow: 2px 5px 15px rgb(202, 202, 202);
}

.testimonial-section .card-text {
  color: #777;
  font-size: 0.9rem;
  max-width: 250px;
}

.testimonial-section .rating-wrap {
  background-color: #e9dddd;
  width: 30px;
  height: 30px;
}

.top-section,
.stores-section,
.merchant-section {
  background-color: #faf8f6;
}

/* Top content  */
.top-section,
.stores-section,
.merchant-section,
.rewards-section,
.wallet-section,
.packages-section,
.testimonial-section,
.app-stores-section,
.newsletter-section {
  padding-left: 40px;
  padding-right: 40px;
}
.stores.top-section {
  padding-top: 20px;
}

.stores.deals-section .card {
  border-radius: 0;
}

.stores.deals-section .card-img-top {
  /* background-color: #e9e2d8; */
  margin: 0;
  border: 1px solid #eee !important;
  width: 100%;
  height: 50vw;
  max-height: 500px;
  min-height: 100px;
  object-fit: contain;
  object-position: center;
  /* background-position: center;
  background-size: 150px;
  background-repeat: no-repeat;
  background-image: url('../assets/images/Jara\ Logo.svg'); */
}

.stores.top-section #first-content {
  margin-left: -20%;
}

#store-section-navigation .clickable {
  color: #444;
}

#store-section-navigation .active {
  color: red;
}

.top-hero-content h1 {
  color: #009933;
  font-weight: 900;
  text-align: start;
}

/* .top-hero-content .capture-button .find-out-more {
} */

.capture-button .find-out-more {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.8rem;
  font-weight: normal;
  background-color: #009933;
  color: white;
}

.app-stores-hero-content {
  margin-left: 150px;
}

@media only screen and (max-width: 768px) {
  .capture-button .find-out-more {
    display: block;
  }

  .career.top-section .input-wrap {
    margin-top: 2rem !important;
    margin-bottom: 4rem !important;
    border-radius: 5vh;
    background-color: #fcfcff;
    padding: 0 !important;
    justify-content: space-between !important;
    box-shadow: 2px 4px 9px #d2d2d2;
  }

  .career.top-section input {
    border: none;
  }

  #first-image {
    order: 1;
    margin-top: 10px;
  }

  #first-content {
    order: 2;
    text-align: start;
    margin-bottom: 20px;
  }

  #second-image {
    order: 1;
  }

  #second-content {
    order: 2;
    text-align: start;
    margin-bottom: 20px;
  }

  #third-image {
    order: 1;
  }

  #third-content {
    order: 2;
    text-align: start;
    margin-bottom: 20px;
  }

  #fourth-image {
    order: 1;
  }

  #fourth-content {
    order: 2;
    text-align: start;
    margin-bottom: 20px;
  }

  #contact-image {
    order: 2;
  }

  #contact-content {
    order: 1;
  }

  #fifth-image {
    order: 1;
  }

  #fifth-content {
    order: 2;
    text-align: start;
    margin-bottom: 10px;
  }

  .stores-section {
    margin-bottom: 30px;
    /* padding-top: 50px;
    padding-bottom: 50px; */
  }

  .app-stores-hero-content {
    text-align: center;
    margin-left: 0px;
  }

  .app-stores-hero-content h1 {
    font-weight: bolder !important;
  }
}

/* footer */
.footer-section {
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 70px;
  background-image: url(../assets/images/Footer\ Background.svg);
}

.app-store-buttons {
  display: inline;
}

.footer-header p {
  color: white;
  font-weight: bolder;
  margin-bottom: 40px;
}

/* App stores section */
.app-stores-section {
  background-color: #33cc99;
}

.app-stores-section h1 {
  font-weight: 900;
  color: #ffffff;
}

/* News;letter section */
.newsletter-section {
  padding: 60px;
  background-color: #e9fffa;
}

.newsletter-section h1 {
  font-weight: 900;
  color: #009933;
}

.newsletter-section p {
  font-weight: 800;
  font-size: large;
  color: #596271;
}

@media only screen and (max-width: 576px) {
  .stores.top-section #first-content {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .footer-header p {
    margin-top: 20px;
  }

  .deals-section .left-arrow {
    visibility: hidden;
  }

  .deals-section .right-arrow {
    visibility: hidden;
  }
}

.accordion-item {
  margin-bottom: 50px;
  margin-top: 30px;
  background-color: #f1f0f5;
  border-radius: 20px;
}

.accordion {
  padding-left: 40px;
  padding-right: 40px;
  /* border-radius: 20px !important; */
  border-color: #f1f0f5;
}

.accordion-button:not(.collapsed) {
  background-color: #f1f0f5;
}

.accordion-button {
  background-color: #f1f0f5;
  border-radius: 20px;
  border-bottom-color: #f1f0f5;
  /* border-top-right-radius: 20px;
  border-top-left-radius: 20px; */
}

.search-input:focus {
  border-top-color: white;
}

@media only screen and (max-width: 768px) {
  .search-icon {
    visibility: hidden;
  }
}

.social-buttons img {
  margin-right: 10px;
  width: 20%;
}

@media only screen and (max-width: 768px) {
  .social-buttons img {
    margin-right: 10px;
    width: 10%;
  }
}
